<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>hello thymeleaf</title>

    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <meta name="google-signin-client_id"
        content="908426345268-26d6f2v2p5pj95fq5tr2tdt896h8cd00.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>

<body>
    <h1>Hello Thymeleaf</h1>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>

    <div class="g-sign-key"></div>
    <a href="#" onclick="signOut();">Sign out</a>
    <script>
        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
            console.log('id_token:' +gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().id_token);
        }


        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>
</body>

</html>